<div class="fun-factor-area overflow-hidden">
  <div class="container">
    <div class="fun-fact-items default-padding">
      <div class="row">


        <div *ngFor="let item of totalcounts" class="col-lg-3 col-md-6 item">
          <div class="fun-fact">
            <div class="icon">
              <i class="fas fa-bars"></i>
            </div>
            <div class="fun-fact">
              <div class="timer" [attr.data-to]="item.attributes.Number" data-speed="5000" id="countElement">
                {{item.attributes.Number}}</div>
              <span class="medium" id="nameElement">{{item.attributes.Namess}}</span>
              <script>
                function startCounting(item) {
                  const countElement = document.getElementById('countElement');
                  const nameElement = document.getElementById('nameElement');
                  const initialCount = parseInt(countElement.getAttribute('data-to'));
                  const speed = parseInt(countElement.getAttribute('data-speed'));
                  let count = 0;

                  countElement.textContent = initialCount;


                  nameElement.textContent = item.attributes.Namess;


                  function updateCount() {
                    count++;
                    countElement.textContent = count;


                    if (count === initialCount) {
                      clearInterval(interval);
                    }
                  }


                  const interval = setInterval(updateCount, speed);
                }

                document.addEventListener('DOMContentLoaded', startCounting);
              </script>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>